<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
        <link rel='stylesheet' type='text/css' href='/css/styles.css'/>
        <link rel='stylesheet' type='text/css' href='/css/nav.css'/>
        <link rel='stylesheet' type='text/css' href='/css/login.css'/>
        <link rel='stylesheet' type='text/css' href='/css/slideshow.css'/>
        <link rel='stylesheet' type='text/css' href='/css/user.css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    </head>