<%- include ('partials-home/_header-home')  %>

    <div class="cuerpo">

        <!-- Mapa de servicios -->
        <section class="slideshow">
            <div class="titulo">
                <h3 class="text-uppercase text-center">apartado de atractivos</h3>
            </div>
            <div id="mapid"></div>
        </section>

        <!-- Iconos de navegación -->
        <section class="servicios">
            <div class="lista-servicios">
                <div class="one">
                    <a href="">
                        <img class="foto" src="/img/icono-1.png" alt="Servicios Gastronómicos">
                        <div class="overlay overlayFade">
                            <div class="text-over">Servicios Gastronómicos</div>
                        </div>
                    </a>
                </div>

                <div class="one">
                    <a href="">
                        <img class="foto" src="/img/icono-2.png" alt="Alojamientos">
                        <div class="overlay overlayFade">
                            <div class="text-over">Alojamientos</div>
                        </div>
                    </a>
                </div>

                <div class="one">
                    <a href="">
                        <img class="foto" src="/img/icono-3.png" alt="Agencias y TTOO">
                        <div class="overlay overlayFade">
                            <div class="text-over">Agencias y TTOO</div>
                        </div>
                    </a>
                </div>

                <div class="one">
                    <a href="">
                        <img class="foto" src="/img/icono-4.png" alt="Paseos Náuticos">
                        <div class="overlay overlayFade">
                            <div class="text-over">Paseos Náuticos</div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!-- Fin iconos de navegación -->

        <section class="prueba">
            
        </section>

    </div>

<%- include ('partials-home/_footer-home')  %>