<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
        <link rel='stylesheet' type='text/css' href='/css/styles.css'/>
        <link rel='stylesheet' type='text/css' href='/css/user.css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    </head>

    <body>
        
        <!-- Inicio de sesión -->
        <header>
            <div class="center">
                <a href="" class="logo"><img class="img-fluid" src="/img/icon.png"/></a>
                <input type="checkbox" id="show">
                <label for="show" class="iniciar-btn">Iniciar sesión</label>
                <div class="container-log">
                    <label for="show" class="close-btn fas fa-times"></label>
                    <div class="text">Iniciar sesión</div>
                    <form action="/login" method="POST">
                        <div class="data">
                            <label>e-Mail</label>
                            <input type="email" placeholder="Ingresa un correo electronico" name="username" required/>
                        </div>
                        <div class="data">
                            <label>Contraseña</label>
                            <input type="password"  placeholder="Ingresa una contraseña" name="password" required/>
                        </div>
                        <div class="btn">
                            <div class="inner"></div>
                            <button type="submit">Ingresar</button>
                        </div>
                        <div class="registro"><a href="#">Crear una cuenta</a></div>
                    </form>
                </div>
            </div>
        </header>

        <!-- Barra de navegación -->
        <nav>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn"><i class="fas fa-bars"></i></label>
            
            <ul class="menu">
                <a href="">INICIO</a>
                <a href="#">SERVICIOS TURÍSTICOS</a>
                <a href="#">ATRACTIVOS TURÍSTICOS</a>
                <a href="#">ACTIVIDADES</a>
                <a href="#">NUESTRA CIUDAD</a>
                <label for="chk" class="hide-menu-btn"><i class="fas fa-times"></i></label>
            </ul>
        </nav>

        <div class="cuerpo">

             <!-- Sideshow de imagenes -->
            <section class="slideshow">
                
                <div class="slide-body">
                    <input type="radio" id="i1" name="images" checked />
                    <input type="radio" id="i2" name="images" />
                    <input type="radio" id="i3" name="images" />
                    <input type="radio" id="i4" name="images" />
                    <input type="radio" id="i5" name="images" />	
                    
                    <div class="slide_img" id="one">
                        <img src="/img/home1.jpg">
                    </div>
                    <div class="slide_img" id="two">
                        <img src="/img/home2.jpg">
                    </div>
                    <div class="slide_img" id="three">
                        <img src="/img/home3.jpg">
                    </div>
                    <div class="slide_img" id="four">
                        <img src="/img/home4.jpg">
                    </div>
                    <div class="slide_img" id="five">
                        <img src="/img/home5.jpg">
                    </div>
                    <div id="nav-slide">
                        <label for="i1" class="dots" id="dot1"></label>
                        <label for="i2" class="dots" id="dot2"></label>
                        <label for="i3" class="dots" id="dot3"></label>
                        <label for="i4" class="dots" id="dot4"></label>
                        <label for="i5" class="dots" id="dot5"></label>
                    </div>
                        
                </div>
            </section>

            <!-- Iconos de navegación -->
            <section class="servicios">
                <div class="lista-servicios">

                    
                        <div class="one">
                            <a href="">
                                <img class="foto" src="/img/icono-1.png" alt="Servicios Gastronómicos">
                                <div class="overlay overlayFade">
                                    <div class="text-over">Servicios Gastronómicos</div>
                                </div>
                            </a>
                            
                        </div>
                   
                    
                    
                        <div class="one">
                            <a href="">
                                <img class="foto" src="/img/icono-2.png" alt="Alojamientos">
                                <div class="overlay overlayFade">
                                    <div class="text-over">Alojamientos</div>
                                </div>
                            </a>
                            
                        </div>
                   

                    <div class="one">
                        <div class="container">
                            <a href="">
                                <img class="foto" src="/img/icono-3.png" alt="Agencias y TTOO">
                                <div class="overlay overlayFade">
                                    <div class="text-over">Agencias y TTOO</div>
                                </div>
                            </a>
                            
                        </div>
                    </div>

                    <div class="one">
                        <div class="container">
                            <a href="">
                                <img class="foto" src="/img/icono-4.png" alt="Paseos Náuticos">
                                <div class="overlay overlayFade">
                                    <div class="text-over">Paseos Náuticos</div>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </section>
            <!-- Fin iconos de navegación -->

            <section class="prueba">
                
            </section>

        </div>

        <!-- Footer -->
        <section class="footer text-center text-uppercase">
            <div class="container-footer">
                <div class="cuadros">
                    <div class="cuadro">
                        <h4>Contactos</h4>
                        <p class="p-footer">
                            +56 - 35 - 2337000
                            <br />
                            +56 - 35 - 2337001
                        </p>
                        <p class="p-footer"></i> informaciones@sanantonio.cl</p>
                    </div>
                    <div class="cuadro">
                        <h4>Edificio Consistorial</h4>
                        <p class="p-footer"><i class="fas fa-map-marker-alt"></i> Av. Ramón Barros Luco 1881</p>
                </div>
            </div>
        </section>
        <!-- Fin footer -->

    </body>
</html>