<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' href='/css/login.css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <title>Document</title>
    </head>
    <body>
        <div class="center">
            <input type="checkbox" id="show">
            <label for="show" class="show-btn">Iniciar sesi칩n</label>
            <div class="container-log">
                <label for="show" class="close-btn fas fa-times"></label>
                <div class="text">Iniciar sesi칩n</div>
                <form action="#">
                    <div class="data">
                        <label>e-Mail</label>
                        <input type="text" required>
                    </div>
                    <div class="data">
                        <label>Contrase침a</label>
                        <input type="text" required>
                    </div>
                    <div class="recuperarContra"><a href="#">Recuperar contrase침a</a></div>
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">Ingresar</button>
                    </div>
                    <div class="registro"><a href="#">Crear una cuenta</a></div>
                </form>
            </div>
        </div>
    </body>

</html>