<%- include ('partials-home/_header-home')  %>

    <script>
        var a = '<%- JSON.stringify(data)%>';
        var data = JSON.parse(a);
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: { lat: -33.59829709005887, lng: -71.60798902585982 },
            });
            const geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
        }
    
        function geocodeAddress(geocoder, resultsMap) {
            for (let i = 0; i < data.length; i++) {
                const address = data[i].geo_local;
                geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    resultsMap.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                        title: data[i].titulo,
                        animation: google.maps.Animation.DROP
                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
                });
            }
        }

    </script>

    <section class="slideshow">
        <div class="titulo">
            <h2 class="mayus centrado">apartado de servicios</h2>
        </div>
        <div id="map"></div>
    </section>

    <!-- Iconos de navegación -->
    <section class="servicios">
        <div class="lista-servicios">
            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-1.png" alt="Servicios Gastronómicos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Servicios Gastronómicos</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-2.png" alt="Alojamientos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Alojamientos</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-3.png" alt="Agencias y TTOO">
                    <div class="overlay overlayFade">
                        <div class="text-over">Agencias y TTOO</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-4.png" alt="Paseos Náuticos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Paseos Náuticos</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- Fin iconos de navegación -->

    <section class="tres">
        <div class="titulo">
            <h2>Nueva seccion</h2>
        </div>
    </section>

<%- include ('partials-home/_footer-home')  %>