<%- include ('partials/_header')  %>

    <body>
        
        <!-- Inicio de sesión -->
        <header>
            <div class="center">
                <a href="" class="logo"><img class="img-fluid" src="/img/icon.png"/></a>
                <input type="checkbox" id="show">
                <a class="iniciar-btn" href="/">Cerrar sesión</a>
                <button class="servicios-btn"><a href="">Mis servicios</a></button>
            </div>
        </header>

        <!-- Barra de navegación -->
        <nav>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn"><i class="fas fa-bars"></i></label>
          
            <ul class="menu">
                <a href="">INICIO</a>
                <a href="#">SERVICIOS TURÍSTICOS</a>
                <a href="#">ATRACTIVOS TURÍSTICOS</a>
                <a href="#">ACTIVIDADES</a>
                <a href="#">NUESTRA CIUDAD</a>
                <label for="chk" class="hide-menu-btn"><i class="fas fa-times"></i></label>
            </ul>
        </nav>

        <section class="servicios" id=""> 
            <div class="cont-serv">
                <h2 class="text-center text-color">Mis servicios</h2>
                <div class="divisor">
                    <div class="divisor-linea"></div>
                    <div class="divisor-icon"><i class="fas fa-concierge-bell"></i></div>
                    <div class="divisor-linea"></div>
                </div>

                <div class="row">
                    <div class="col-servicio">
                        <a href=""><i class="fas fa-edit"></i></a>
                        <div class="contex">
                            <div class="cont-serv">
                                <h3 class="text-center text-color">Servicio 1</h3>
                            </div>
                            <div class="divisor">
                                <div class="divisor-linea"></div>
                            </div>
                            <div class="img-div" data-target="">
                                <img class="img-cont" src="/img/Museo San Antonio.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-servicio">
                        <a href=""><i class="fas fa-edit"></i></a>
                        <div class="contex">
                            <div class="cont-serv">
                                <h3 class="text-center text-color">Servicio 2</h3>
                            </div>
                            <div class="divisor">
                                <div class="divisor-linea"></div>
                            </div>
                            <div class="img-div" data-target="">
                                <img class="img-cont" src="/img/Museo San Antonio.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="form-user">
            <div class="container-form">
                <h3 class="text-center">INGRESO DE SERVICIO</h3>
                <div class="container-user-form text-color">
                    <form action="#">
                        <div class="datos">
                            <label>Titulo</label>
                            <div class="input-user">
                                <input class="text" type="text" placeholder="Titulo" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>Descripcion</label>
                            <div class="input-user">
                                <textarea class="text" name="descripcion" id="" placeholder="Escriba aqui la descripcion"></textarea>
                            </div>
                        </div>
                        <div class="datos">
                            <label>x</label>
                            <div class="input-user">
                                <input class="text" type="text" placeholder="x" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>x</label>
                            <div class="input-user">
                                <input class="text" type="text" placeholder="x" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>x</label>
                            <div class="input-user">
                                <input class="text" type="text" placeholder="x" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>Eliga una imagen para su servivio.</label>
                            <div class="file">
                                <input class="file" type="file" placeholder="x" required>
                            </div>
                        </div>
                        <div class="boton">
                            <button type="submit">Enviar registro</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </body>
</html>