<!DOCTYPE html>
<html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Mi sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
        <link rel='stylesheet' type='text/css' href='/css/styles.css'/>
        <link rel='stylesheet' type='text/css' href='/css/user.css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    </head>

    <body>
        
        <!-- Inicio de sesión -->
        <header>
            <div class="center">
                <a href="" class="logo"><img class="img-fluid" src="/img/icon.png"/></a>
                <input type="checkbox" id="show">
                <a class="iniciar-btn" href="/logout">Cerrar sesión</a>
                <button class="servicios-btn"><a href="">Mis servicios</a></button>
            </div>
        </header>

        <!-- Barra de navegación -->
        <nav>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn"><i class="fas fa-bars"></i></label>
          
            <ul class="menu">
                <a href="">INICIO</a>
                <a href="#">SERVICIOS TURÍSTICOS</a>
                <a href="#">ATRACTIVOS TURÍSTICOS</a>
                <a href="#">ACTIVIDADES</a>
                <a href="#">NUESTRA CIUDAD</a>
                <label for="chk" class="hide-menu-btn"><i class="fas fa-times"></i></label>
            </ul>
        </nav>

        <section class="servicios" id=""> 
            <div class="cont-serv">
                <h2 class="text-center text-color">Mis servicios</h2>
                <div class="divisor">
                    <div class="divisor-linea"></div>
                    <div class="divisor-icon"><i class="fas fa-concierge-bell"></i></div>
                    <div class="divisor-linea"></div>
                </div>

                <div class="row">
                    <div class="col-servicio">
                        <a href=""><i class="fas fa-edit"></i></a>
                        <div class="contex">
                            <div class="cont-serv">
                                <h3 class="text-center text-color">Servicio 1</h3>
                            </div>
                            <div class="divisor">
                                <div class="divisor-linea"></div>
                            </div>
                            <div class="img-div" data-target="">
                                <img class="img-cont" src="/img/Museo San Antonio.png"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-servicio">
                        <a href=""><i class="fas fa-edit"></i></a>
                        <div class="contex">
                            <div class="cont-serv">
                                <h3 class="text-center text-color">Servicio 2</h3>
                            </div>
                            <div class="divisor">
                                <div class="divisor-linea"></div>
                            </div>
                            <div class="img-div" data-target="">
                                <img class="img-cont" src="/img/Museo San Antonio.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="form-user">
            <div class="container-form">
                <h3 class="text-center">INGRESO DE SERVICIO</h3>
                <div class="container-user-form text-color">
                    <form action="#">
                        <div class="datos">
                            <label>Título</label>
                            <div class="input-user">
                                <input class="text" type="text" placeholder="Título" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>Descripción</label>
                            <div class="input-user">
                                <textarea class="text" name="descripcion" id="" placeholder="Escriba aqui la descripción completa del servicio"></textarea required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>Geolocalización</label>
                            <div class="input-user">
                                <input class="text" type="text" name="geo_local" placeholder="Ingrese las coordenadas del lugar. ej:(0.1234,0.1234)" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>Teléfono o Celular</label>
                            <div class="input-user">
                                <input class="text" type="number" name="telefono" placeholder="Ingrese el teléfono o celular de contacto" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>Correo electrónico</label>
                            <div class="input-user">
                                <input class="text" type="email" name="telefono" placeholder="Ingrese el correo de contacto" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label>Red social</label>
                            <div class="input-user">
                                <input class="text" type="email" name="telefono" placeholder="Ingrese una red social" required>
                            </div>
                        </div>
                        <div class="datos">
                            <label for="cars">Seleccione la categoría de su servicio:</label>
                            <select id="cars" name="cars">
                                <option value="servicio_gastronomico">Servicios Gastronómicos</option>
                                <option value="alojamiento">Alojamientos</option>
                                <option value="agencias_ttoo">Agencias y TTOO</option>
                                <option value="paseoNauticos">Paseos Náuticos</option>
                                <option value="otros" selected>Otros</option>
                            </select required>
                        </div>
                        <!-- <div class="datos">
                            <label>Sernatur</label>
                            <div class="file">
                                <input class="file" type="file" placeholder="x" required>
                            </div>
                        </div> -->
                        <div class="boton">
                            <button type="submit">Enviar registro</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </body>
</html>