<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href="public/img/icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pruebas</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel='stylesheet' type='text/css' href='/css/main.css' />
        <!-- Recursos necesarios para el mapa -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<link rel="stylesheet" type="text/css" href="/css/test.css">
        <script src="/js/test.js"></script>
        
        <!-- <script>
            console.log(data);
            function initMap() {
                const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: { lat: -34.397, lng: 150.644 },
                });
                const geocoder = new google.maps.Geocoder();
                // geocodeAddress(geocoder, map);
                document.getElementById("submit").addEventListener("click", () => {
                    geocodeAddress(geocoder, map);
                });
            }
            // const address = data[0].geo_local;
            function geocodeAddress(geocoder, resultsMap) {
            const address = document.getElementById("address").value;
            geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                resultsMap.setCenter(results[0].geometry.location);
                new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location,
                });
                } else {
                alert("Geocode was not successful for the following reason: " + status);
                }
            });
            }
        </script> -->
	</head>
    <body>
        <nav class="navegacion">
            <input type="checkbox" id="check-menu" class="chk">
            <label for="check-menu" class="show-menu"><i class="fas fa-bars"></i></label>
            <a href="" class="logo"><img src="public/img/icon.png"/></a>
            <!-- <% if (data != null) { %> -->
                <!-- <a class="btn-login texto mayus" href="/logout">Cerrar sesión</a> -->
            <!-- <% } %> -->
            <!-- <% if (data == null){ %> -->
                <a class="btn-login texto mayus" href="">Inciar sesión</a>
            <!-- <% } %> -->

            <ul class="menu">
                <li class="mis-servicios"><a href="">MIS SERVICIOS</a></li>
                <li><a href="/servicios-turisticos">SERVICIOS</a></li>
                <li><a href="/atractivos-turisticos">ATRACTIVOS</a></li>
                <li><a href="/">INICIO</a></li>
            </ul>
        </nav>
        <section class="slideshow">
            <div id="floating-panel">
                <input id="address" type="textbox" value="<%= data[0].geo_local %>" />
                <input id="submit" type="button" value="Geocode" />
            </div>
            <div id="map"></div>
        </section>
        <section class="prueba">

        </section>

        <footer class="footer">
            <div class="footer-box centrado">
                <h2 class="texto mayus">Contacto</h2>
                <h4 class="texto">+56 - 35 - 2337000 <br> +56 - 35 - 2337001</h4>
                <h4 class="texto">INFORMACIONES@SANANTONIO.CL</h4>
            </div>
            <div class="footer-box centrado">
                <h2 class="texto mayus">Edificio Consistorial</h2>
                <h4 class="texto"> <i class="fas fa-map-marker-alt texto"></i> AV. RAMÓN BARROS <br> LUCO 1881</h4>
            </div>
        </footer>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1NrmdL2QkaeuG_1-1VFGU_YeT2zzZ0qs&callback=initMap"></script>
    </body>

</html>