:root{
    --pri: #303841;
    --sec: #3A4750;
    --ter: #c4a119;
    --cuar: #EEE;
    --hover: #1abc9c;
}
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}

html{
    height: 100%;
}

body{
  background: var(--cuar);
  margin: auto;
  min-height: 100%;
}

header{
  height: 50px;
  background: var(--pri);
}

nav{
  padding: 1em;
  height: 80px;
}

@media screen and (max-width:1200px) {
    body{
        width: 95%;
    }
    .rows{
        grid-template: /* (alto ancho) */
            "slideshow" 450px  
            "servicios" auto
            "prueba" 200px;
    }
    .p-footer{
        font-size: 0.8rem;
    }
}

@media screen and (min-width:1000px) {
    body{
        width: 75%;
    }

    .rows{
        grid-template: /* (alto ancho) */
            "slideshow" 450px  
            "servicios" auto
            "prueba" 200px;
    }
    .p-footer{
        font-size: 1rem;
    }
}

.text-center{
    text-align: center;
}
.text-color{
    color: var(--sec);
}
.text-uppercase{
    text-transform: uppercase;
}

h2{
    font-size: 2rem;
    text-transform: uppercase;
}

h3{
    font-size: 1rem;
    font-size: 1.5rem;
}
h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700px;
    line-height: 1.2;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.rows{
    display: grid;
    grid-template-areas: 
        "slideshow"
        "servicios"
        "prueba";
}

.slideshow{
    grid-area: slideshow;
}

/* Parte de NAVEGACION CON ICONOS */

.servicios{
    grid-area: servicios;
}

.servicios .lista-servicios{
    display: grid;
    grid-template-columns: repeat(6, 0.5fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    font-size: 50px;
    text-align: center;
    padding: 5px;
}

#iconos img {
    max-width: 80%;
    vertical-align: middle;
}

/* Fin parte de NAVEGACION CON ICONOS */


.prueba{
    grid-area: prueba;
    background: var(--ter);
}

/* Footer */
.footer{
    /* grid-area: footer; */
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--pri);
    color: #fff;
}
.container-footer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.cuadros{
    display: flex;
}
.cuadro{
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
}
/* Fin footer */


/* Divisor de página */
.divisor {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor .divisor-linea{
    width: 100%;
    max-width: 6rem;
    height: 0.3rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}
.divisor .divisor-linea:first-child {
    margin-right: 1rem;
}
.divisor .divisor-linea:last-child {
    margin-left: 1rem;
}
.divisor .divisor-icon {
    color: #2c3e50 !important;
    font-size: 2rem;
}
/* Fin divisor de página */