html { scroll-behavior: smooth; }
:root{
    --pri: #303841;
    --sec: #3A4750;
    --ter: #e6b800;
    --cuar: #EEE;
    --hover: #1abc9c;
}
*{ font-family: sans-serif; }
body {
    background: var(--cuar);
    margin: 0 auto 0;
}
.principal{
    display: grid;
    grid-template-areas:
        "nav"
        "uno",
        "dos"
        "tres"
        "cuatro"
        "footer";
}
a{ text-decoration: none;}
h2, h3, h4{margin: 10px 0 5px;}
h3, h4{font-weight: normal;}
h4{
    margin-bottom: 1rem;
    font-weight: 700px;
    line-height: 1.2;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.texto{ color: var(--cuar); }
.texto-ng{ color: var(--sec); }
.mayus{ text-transform: uppercase; }
.centrado{ text-align: center; }
.negrita{ font-weight: bold; }

/* Mapa */
#map { height: 350px; }

/* Revisar */
.titulo{
    height: auto;
    padding: 10px;
    background: var(--pri);
    color: var(--cuar);
}

/* Pruebas */

/* Fin Pruebas */

/* Contorl de contenido responsive */
/* Pantalla de celular */
@media screen and (max-width:900px) {
    body{ width: 95%; }
    .principal{
        grid-template: /* (alto ancho) */
        "nav"       100px
        "uno" 415px  
        "dos" auto
        "tres"    200px
        "cuatro" auto
        "footer" auto;
    }
    a{ font-size: 12px; }
    .data input, .data textarea{ width: 95%;}
    /* Navegacion */
    .mostrar-menu{ 
        display: block; 
        right: 5%;
    }
    .menu{
        display: none;
        position: fixed;
        width: 95%;
        height: auto;
        background: var(--pri);
        top: 75px;
        transition: transform 250ms linear;
        z-index: 2;
    }
    .menu li{
        width: 100%;
        display: grid;
        place-items: center;
    }
    /* Fin navegacion */
    /* --- */
    /* Sesion */
    .popup-log, .popup-registro{ width: 80%; }
    /* Fin sesion */
    /* --- */
    /* Slideshow */
    #nav-slide .dots{ width: 30px; }
    /* Fin slideshow */
    /* --- */
    /* Navegacion con iconos */
    .lista-servicios{ padding: 5px 10px; }
    .foto { max-width: 100%; }
    .text-over{ font-size: 13px; }
    /* Fin navegacion con iconos */
    /* --- */
    /* Footer */
    .footer{ grid-template-rows: repeat(2, 1fr); grid-gap: 0px;}
    .footer-box{ padding: 0.5rem; }
    /* Fin footer */
    /* --- */
    /* Divisor */
    .divisor .divisor-linea{ margin: 7px; }
    .divisor .divisor-linea:first-child { margin-right: 0.5rem; }
    .divisor .divisor-linea:last-child { margin-left: 0.5rem; }
    .divisor .divisor-icon { color: #2c3e50 !important; font-size: 1.5rem; }
    /* Fin divisor */
}
/* Pantalla de PC */
@media screen and (min-width:901px) {
    body{
        width: 75%; 
    }
    .principal{
        grid-template: /* (alto ancho) */
        "nav"       100px
        "uno" 410px  
        "dos" auto
        "tres"    200px
        "cuatro" auto
        "footer" auto;
    }
    a{ font-size: 15px; }
    .data input, .data textarea{ width: 98%;}
    /* Navegacion */
    .mostrar-menu{ display: none; right: 15%; }
    .menu{ display: block; margin: 50px 10px 0; }
    .menu li:hover{ border-radius: 10px; }
    .menu .btn-servicios{ border-radius: 10px; }
    /* Fin navegacion */
    /* --- */
    /* Sesion */
    .popup-log, .popup-registro{ width: 50%; }
    /* Fin sesion */
    /* --- */
    /* Slideshow */
    #nav-slide .dots{ width: 50px; }
    /* Fin slideshow */
    /* --- */
    /* Navegacion con iconos */
    .lista-servicios{ padding: 20px 10px; }
    .foto {
        max-width: 70%;
        vertical-align: middle;
        border-radius: 15px;
    }
    .text-over{ font-size: 20px; }
    /* Fin navegacion con iconos */
    /* --- */
    /* Footer */
    .footer{ grid-template-columns: repeat(2, 1fr); grid-gap: 10px; }
    .footer-box{ padding: 1rem; }
    /* Fin footer */
    /* --- */
    /* Divisor */
    .divisor { margin: 1rem 0 1rem; }
    .divisor .divisor-linea{ margin: 0; }
    .divisor .divisor-linea:first-child { margin-right: 1rem; }
    .divisor .divisor-linea:last-child { margin-left: 1rem; }
    .divisor .divisor-icon { color: #2c3e50 !important; font-size: 2rem; }
    /* Fin divisor */
}

/* Sección de navegación */
.navegacion{
    grid-area: nav;
    background: var(--pri);
    position: sticky;
    top: 0;
    z-index: 1;
}
.cuenta{
    float: right;
    text-decoration: none;
    margin: 15px 25px 0;
}
.cuenta label{ color: var(--hover); text-decoration: none;}
.cuenta label:hover{ color: var(--cuar); text-decoration: underline;}
.logo{
    position: fixed;
    margin: 5px 25px 0;
}
.menu{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.menu li{ float: right; margin-left: 5px;}
.menu li.is-active{ background: var(--hover); }
.menu .btn-servicios{background: var(--ter);}
.menu li a{
    display: inline-block;
    color: var(--cuar);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li:hover {
    background-color: var(--hover);
}
.btn-logout{
    float: right;
    margin: 15px 20px 0;
}
.chk{
    position: absolute;
    visibility: hidden;
}
#check-menu:checked ~ .menu{
    display: block;
}
.mostrar-menu{
    font-size: 25px;
    cursor: pointer;
    color: var(--cuar);
    position: fixed;
    top: 60px;
}
.mostrar-menu:hover{ color: var(--hover);}
/* Fin sección de navegación */

/* --- */

/* Seccion de PopUP de inicio de sesion y registro */
.popup-log, .popup-registro{
    display: none;
    background: #fff;
    padding: 30px 30px 20px;
    box-shadow: 0 0 8px rgb(0,0,0,0.4);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}
.cerrar{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}
.cerrar:hover{ color: var(--hover);}
.data{
    height: auto;
    width: 100%;
    margin: 20px 0;
    color: #55595c;
}
.dataimage{
    height: auto;
    width: 100%;
    margin: 20px 0;
    color: #55595c;
}
#inputImg{
    margin-top: 10px;
    text-align: center;
}
.data input, .data textarea{
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid silver;   
    border-radius: 10px;
    letter-spacing: 1px;
    box-shadow: 0 0 5px rgb(0,0,0,0.5) inset;
    background: var(--cuar);
}
.data textarea{ height: 100px; }

.btn-sesion{
    margin: 5px 10%;
    height: 45px;
    width: 80%;
    position: relative;
    background: var(--hover);
    border: none;
    border-radius: 10px;
    color: var(--cuar);
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.5s;
}
.btn-sesion:hover{
    transform: translateY(-5px);
}
#registro:checked ~ .popup-registro{
    display: block;
}
#iniciar-sesion:checked ~ .popup-log{
    display: block;
}
/* Fin seccion de PopUP de inicio de sesion y registro */

/* --- */

/* Seccion Slideshow */
.slideshow{
    grid-area: uno;
    z-index: 0;
}
.slide-body{
    margin: 0 auto;
    position: relative;
    width: 100%;
    user-select: none;
    border: none;
    height: 100%;
}

.slide-body .slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide-body .slide_img img{
    width: inherit;
    height: inherit;
}

.slide-body #nav-slide{
    width: 100%;
    bottom: 20px;
    height: 11px;
    position: absolute;
    text-align: center;
    cursor: default;
    z-index: 2;
}

#nav-slide .dots{
    top: -10px;
    height: 10px;
    margin: 6px;
    border: 2px solid #fff;
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
}

#nav-slide .dots:hover {
    cursor: pointer;
    background-color: #fff;
    transition: .25s
}

#i1:checked ~ #one  ,
#i2:checked ~ #two  ,
#i3:checked ~ #three,
#i4:checked ~ #four ,
#i5:checked ~ #five 
{z-index: 1; animation: scroll 1s ease-in-out;}

#i1:checked  ~  #nav-slide #dot1,
#i2:checked  ~  #nav-slide #dot2,
#i3:checked  ~  #nav-slide #dot3,
#i4:checked  ~  #nav-slide #dot4,
#i5:checked  ~  #nav-slide #dot5
{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
    0%{	opacity:.4; }
    100%{ opacity:1; }
}

#i1, #i2, #i3, #i4, #i5{ display: none;}
/* Fin seccion slideshow */

/* --- */

/* Sección de NAVEGACION CON ICONOS */

.servicios{
    grid-area: dos;
}

.lista-servicios{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(30px, auto);
    text-align: center;
}

.foto {
    vertical-align: middle;
    border-radius: 15px;
}

/*  ICONOS - OVERLAY  y SUS CONTENEDORES */

.overlay{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: #EEE;
    width: 100%;
}

.text-over {
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlayFade{
    height: 100%;
    top: 0;
    left: 0;
    background-color: #303841;
    border-radius: 15px;
}

.one:hover .overlay{
    opacity: 1;
}

.one{
    position: relative;
}

/* Fin de sección de navegacion con iconos */

/* --- */

/* Seccion del footer */
.footer{
    grid-area: footer;
    background: var(--pri);
    display: grid;
}
/* Fin seccion del footer */

/* --- */


.prueba{
    grid-area: cuatro;
    background: mediumspringgreen;
}


/* Divisor de página */
.divisor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor .divisor-linea{
    width: 100%;
    max-width: 6rem;
    height: 0.3rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}

.separador{
    height: 10px; background: var(--pri);
}
/* Fin divisor de página */

/* ********* */
/* ********* */
/* ********* */

/* SECCION DE CSS DEL USUARIO */

/* Contorl de contenido responsive */
/* Pantalla de celular */
@media screen and (max-width:900px) {
    .usuario{
        grid-template: /* (alto ancho) */
        "nav" 100px
        "primero" auto  
        "segundo" auto
        "tercero"    0px
        "cuarto" 0px
        "footer" auto;
    }
    .container-form{ padding: 30px 10px 20px; }
    .col-servicio {
        flex: 0 0 80%;
        max-width: 100%;
    }
    .row .edit{
        font-size: 1.3rem;
    }
    .boton button{
        width: 60%;
    }
}

/* Pantalla de PC */
@media screen and (min-width:901px) {
    .usuario{
        grid-template: /* (alto ancho) */
        "nav" 100px
        "primero" auto  
        "segundo" auto
        "tercero"    0px
        "cuarto" 0px
        "footer" auto;
    }
    .container-form{ padding: 30px 100px 20px; }
    .datos label{
        font-size: 3vh;
    }
    .col-servicio {
        flex: 0 0 41.65%;
        max-width: 50%;
    }
    .row .edit{
        font-size: 1.5rem;
    }
    .boton button{
        width: 30%;
    }
}

/* Cuerpo general */
.usuario{
    display: grid;
    grid-template-areas:
        "nav"
        "primero"
        "segundo"
        "tercero"
        "cuarto"
        "footer";
} 
.mis-servicios{
    grid-area: primero;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 8px rgb(0,0,0,0.3);
}
.form-user{ grid-area: segundo;}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    justify-content: center;
}
.row .edit{
    position: absolute;
    right: 45px;
    top: 21px;
    color: #2c3e50;
    z-index: 1;
}
.col-servicio {
    position: relative;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}
.contex{ position: relative; }
.cont-serv{
    padding-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}
.img-div{
    margin-right: auto;
    margin-left: auto;
}
.img-cont{
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}
/* Fin cuerpo general */

/* --- */

/* Formulario */

.container-form{
    background: #fff;
    box-shadow: 0 0 8px rgb(0,0,0,0.5);
}
.data label{font-weight: bold; font-size: 20px;}

.dataimage label{font-weight: bold; font-size: 20px;}

.input-user{
    align-content: center;
    text-align: center;
}
select{
    margin-left: 5px;
    padding: 10px 10px;
    font-size: 2vh;
}
.boton{
    margin: 5px 0;
    height: 45px;
    align-content: center;
    text-align: center;
}
.boton button{
    height: 100%;
    border: none;
    border-radius: 15px;
    background: var(--ter);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.boton button:hover{ background: var(--hover); }
/* Fin formulario */

/* --- */

/* Estilo de las tablas */
.table{
    width:100%;
    background-color:transparent
}
.table td,.table th{
    padding: 1rem;
    vertical-align: top;
    border: 0.1px solid var(--cuar);
}
.boton-act{
    text-decoration: none;
    color: #fff;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.aceptar{ background-color: #5cb85c; }
.eliminar{ background-color: #d9534f; }
.actualizar{ background-color: #1f9bcf; }
.cancelar{ background-color: #f0ad4e; }
/* Fin estilo de tablas */


/* Servicios y Atracivos dinamicos */



/* Fin servicios y atractivos dinamicos */