:root{
    --pri: #303841;
    --sec: #3A4750;
    --ter: #c4a119;
    --cuar: #EEE;
    --hover: #1abc9c;
}
.servicios-btn{
    position: absolute;
    top: 20px;
    height: 30px;
    width: 150px;
    background: #e6b800;
    border-radius: 5px;
}
.servicios-btn a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width:1200px) {
    .servicios-btn{
        right: 30%;
    }
}

@media screen and (min-width:900px) {
    .servicios-btn{
        right: 30%;
    }
}

.servicios{
    width: 100%;
    box-shadow: 0 0 8px rgb(0,0,0,0.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    justify-content: center;
}

.row a{
    position: absolute;
    right: 45px;
    top: 21px;
    color: #2c3e50;
    font-size: 1.5rem;

}

.col-servicio {
    position: relative;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    flex: 0 0 41.65%;
    max-width: 50%;
}

.contex{
    position: relative;
    z-index: -1;
}

.cont-serv{
    padding-top: 20px;
    width: 100%;
}

.img-div {
    margin-right: auto;
    margin-left: auto;
}

.img-cont {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}

/* // Formulario \\ */

.container-form{
    background: var(--cuar);
    height: 100%;
    padding: 20px 0;
    box-shadow: 0 0 8px rgb(0,0,0,0.1);
}

.container-user-form{
    padding: 15px;
    width: 100%;
}

.datos{
    height: auto;
    width: 100%;
    margin: 10px 0;
}

.datos label{
    margin-left: 8vh;
    font-size: 2vh;
}

.input-user{
    align-content: center;
    text-align: center;
}
.file{
    margin-left: 4vh;
    padding: 5px 0;
    font-size: 1.5vh;
}

.container-user-form form .text{
    outline: none;
    border: none;
    width: 80%;
    font-size: 17px;
    background: var(--cuar);
    box-shadow: 0 0 5px rgb(0,0,0,0.5) inset;
    padding: 2px 10px;
    margin: 5px 0;
    letter-spacing: 1px;
    border-radius: 15px;
}
.container-user-form form input{
    height: 35px;
}
.container-user-form form textarea{
    height: 100px;
}

.boton{
    margin: 5px 0;
    height: 45px;
    width: 100%;
    align-content: center;
    text-align: center;
}

.boton button{
    height: 100%;
    width: 40%;
    border: none;
    border-radius: 15px;
    background: var(--ter);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.boton button:hover{
    background: var(--hover);
}
