.servicios-btn{
    position: absolute;
    top: 20px;
    height: 30px;
    width: 150px;
    background: #e6b800;
    border-radius: 5px;
}
.servicios-btn a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width:1200px) {
    .servicios-btn{
        right: 30%;
    }
}

@media screen and (min-width:900px) {
    .servicios-btn{
        right: 30%;
    }
}

#servicios{
    width: 100%;
    height: 200px;
    background: gray;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    justify-content: center;
}

.row a{
    position: absolute;
    right: 45px;
    top: 21px;
    color: #2c3e50;
    font-size: 1.5rem;

}

.col-servicio {
    position: relative;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    flex: 0 0 41.65%;
    max-width: 50%;
}

.contex{
    position: relative;
    z-index: -1;
}

.cont-serv{
    padding-top: 20px;
    width: 100%;
}

.img-div {
    margin-right: auto;
    margin-left: auto;
}

.img-cont {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}