        <!-- Footer -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="js/navegador.js"></script>
        <section class="footer text-center text-uppercase">
            <div class="container-footer">
                <div class="cuadros">
                    <div class="cuadro">
                        <h4>Contactos</h4>
                        <p class="p-footer">
                            +56 - 35 - 2337000
                            <br />
                            +56 - 35 - 2337001
                        </p>
                        <p class="p-footer"></i> informaciones@sanantonio.cl</p>
                    </div>
                    <div class="cuadro">
                        <h4>Edificio Consistorial</h4>
                        <p class="p-footer"><i class="fas fa-map-marker-alt"></i> Av. Ramón Barros Luco 1881</p>
                </div>
            </div>
        </section>
        <!-- Fin footer -->

    </body>
</html>