            <!-- Footer -->
            <script src="js/confirm.js"></script>
            <script src="js/navegador.js"></script>
            <footer class="footer">
                <div class="footer-box centrado">
                    <h2 class="texto mayus">Contacto</h2>
                    <h4 class="texto">+56 - 35 - 2337000 <br> +56 - 35 - 2337001</h4>
                    <h4 class="texto">INFORMACIONES@SANANTONIO.CL</h4>
                </div>
                <div class="footer-box centrado">
                    <h2 class="texto mayus"><i class="fas fa-map-marker-alt texto"></i> Edificio Consistorial</h2>
                    <h4 class="texto">Av. Ramón Barros Luco 1881</h4>
                </div>
            </footer>
            <!-- Fin footer -->
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3GT9BCmJJLxmb_wwOrT8_VVS4ljKy_Q&callback=initMap"></script>
    </body>
</html>