<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HOME</title>
        <link rel='stylesheet' type='text/css' href='/css/styles.css'/>
        <link rel='stylesheet' type='text/css' href='/css/user.css'/>
        <link rel='stylesheet' type='text/css' href='/css/nav.css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <!-- Mapa -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    </head>

    <body>
        <!-- Inicio de sesión -->
        <% if (data != null) { %>
            <header>
                <div class="center">
                    <a href="" class="logo"><img class="img-fluid" src="/img/icon.png"/></a>
                    <input type="checkbox" id="show">
                    <a class="iniciar-btn" href="/logout">Cerrar sesión</a>
                    <button class="servicios-btn"><a href="/mis-servicios">Mis servicios</a></button>
                </div>
            </header>
        <% } %>

        <% if (data == null){ %>
            <header>
                <div class="center">
                    <a href="" class="logo"><img class="img-fluid" src="/img/icon.png"/></a>
                    <input type="checkbox" id="show">
                    <input type="checkbox" id="show-registro">
                    <label for="show" class="iniciar-btn">Iniciar sesión</label>
                    <div class="container-log">
                        <label for="show" class="close-btn fas fa-times"></label>
                        <div class="text-t">Iniciar sesión</div>
                        <form class="log" action="/login" method="POST">
                            <div class="data">  
                                <label>e-Mail</label>
                                <input type="email" placeholder="Ingresa un correo electronico" name="username" required/>
                            </div>
                            <div class="data">
                                <label>Contraseña</label>
                                <input type="password"  placeholder="Ingresa una contraseña" name="password" required/>
                            </div>
                            <div class="btn">
                                <div class="inner"></div>
                                <button type="submit">Ingresar</button>
                            </div>
                            <label for="show-registro" class="registro">Crear una cuenta</label>
                        </form>
                    </div>

                    <!-- Registro -->
                    <div class="container-registro">
                        <label for="show-registro" class="close-btn fas fa-times"></label>
                        <div class="text-t">Registrarse</div>
                        <form class="log" action="/registro" method="POST">
                            <div class="data">
                                <label>e-Mail</label>
                                <input type="email" placeholder="Ingresa un correo electronico" name="correo" required/>
                            </div>
                            <div class="data">
                                <label>Contraseña</label>
                                <input type="password"  placeholder="Ingresa una contraseña" name="contrasena" required/>
                            </div>
                            <div class="data">
                                <label>Nombre</label>
                                <input type="text"  placeholder="Ingresa tu nombre" name="nombre" required/>
                            </div>
                            <div class="data">
                                <label>Contacto</label>
                                <input type="text"  placeholder="Ingresa tu numero de teléfono o celular" name="telefono" required/>
                            </div>
                            <div class="btn">
                                <div class="inner"></div>
                                <button type="submit">Enviar solicitud</button>
                            </div>
                        </form>
                    </div>
                    <!-- Fin registro -->
                </div>
            </header>
        <% } %>

        <!-- Barra de navegación -->
        <nav class="navegador">
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn"><i class="fas fa-bars"></i></label>
            
            <ul class="menu">
                <a href="/">INICIO</a>
                <a href="/servicios-turisticos">SERVICIOS TURÍSTICOS</a>
                <a href="/atractivos-turisticos">ATRACTIVOS TURÍSTICOS</a>
                <label for="chk" class="hide-menu-btn"><i class="fas fa-times"></i></label>
            </ul>
        </nav>